In [268]:
# import pandas
import pandas as pd
from pathlib import Path
%matplotlib inline

In [269]:
#  Set path and read csv file
filepath = Path("budget_data.csv")
df = pd.read_csv(filepath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [270]:
# set the "Date" column as the index of new data frame
newfile = df.set_index("Date")
newfile.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [271]:
# Find the total number of months included in the dataset
newfile.shape
num_months = newfile.shape[0]
print(num_months)

86

In [272]:
# Find the net total amount of Profit/Losses over the entire period
newfile.sum()
total = newfile.sum()[0]
print(total)

38382578

In [305]:
# Find the average of the changes in Profit/Losses over the entire period
change = (newfile - newfile.shift(1))
avg_change = round(change.mean()[0], 2)
print(avg_change)

-2315.12

In [307]:
# new table with orhignal columns
new_change["Profit/Losses"] = (df["Profit/Losses"] - df["Profit/Losses"].shift(1)).copy()

In [361]:
# Find the greatest increase in profits (date and amount) over the entire period
increase = change.max()[0]
print(increase)
increase_month = new_change.loc[new_change["Profit/Losses"] == increase]
month1 = increase_month.loc[25, "Date"]
print(month1)

1926159.0
Feb-2012

In [362]:
# Find the greatest increase in profits (date and amount) over the entire period
decrease = change.min()[0]
print(decrease)
decrease_month = new_change.loc[new_change["Profit/Losses"] == decrease]
month2 = decrease_month.loc[44, "Date"]
print(month2)

-2196167.0
Sep-2013

In [364]:
# Homework outputs:
print("Financial Analysis \n------------------------------")
print(f"Total Months: {num_months}")
print(f"Total: ${total}")
print(f"Average Change: ${avg_change}")
print(f"Greatest Increase in Profits: {month1} (${increase})")
print(f"Greatest Decrease in Profits: {month2} (${decrease})")

Financial Analysis
------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)