In [1]:
# import pandas
import pandas as pd
from pathlib import Path

In [2]:
#  Set path and read csv file
filepath = Path("budget_data.csv")
df = pd.read_csv(filepath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
# set the index of the csv to the date
df = df.set_index()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06