In [45]:
# import pandas
import pandas as pd
from pathlib import Path
%matplotlib inline

In [68]:
#  Set path and read csv file
filepath = Path("budget_data.csv")
df = pd.read_csv(filepath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [73]:
# set the "Date" column as the index of data
newfile = df.set_index("Date")
newfile.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [86]:
# Find the total number of months included in the dataset
newfile.shape
num_months = newfile.shape[0]
print(num_months)

86

In [88]:
# Find the net total amount of Profit/Losses over the entire period
newfile.sum()
total = newfile.sum()[0]
print(total)

38382578

In [89]:
# Find the average of the changes in Profit/Losses over the entire period
change = (newfile - newfile.shift(1))
avg_change = round(change.mean()[0], 2)
print(avg_change)

-2315.12

In [123]:
# Find the greatest increase in profits (date and amount) over the entire period
increase = change.max()[0]
print(increase)
change.head()

1926159.0

          Profit/Losses
Date
Jan-2010            NaN
Feb-2010       116771.0
Mar-2010      -662642.0
Apr-2010      -391430.0
May-2010       379920.0

In [111]:
# Find the greatest increase in profits (date and amount) over the entire period
decrease = change.min()[0]
print(decrease)

-2196167.0

In [112]:
# Homework outputs:
print("Financial Analysis \n------------------------------")
print(f"Total Months: {num_months}")
print(f"Total: ${total}")
print(f"Average Change: ${avg_change}")
print(f"Greatest Increase in Profits: (${increase})")
print(f"Greatest Decrease in Profits: (${decrease})")

Financial Analysis
------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: ($1926159.0)
Greatest Decrease in Profits: ($-2196167.0)